<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<p>Data manupulation.</p>
<form name="myform" ng-controller="myCtrl">
<div ng-app="myApp" ng-controller="myCtrl">

First Number: <input type="number" ng-model="firstNum"><br>
Second Number: <input type="number" ng-model="lastNum"><br>
<br>
REsult  {{firstNum + lastNum}}

</div>
</form>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstNum= 0;
    $scope.lastNum=0;
});
</script>

</body>
</html>
